<h1>Editing Order</h1>

<%= render partial: "orders/form", locals: {orderable: @product_service}  %>
<%= render partial: "orders/productform", locals: {orderable: @product}  %>


<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
