<h1>Editing Specific Notification</h1>

<%= render 'form', specific_notification: @specific_notification %>

<%= link_to 'Show', @specific_notification %> |
<%= link_to 'Back', specific_notifications_path %>
