<% @notifications = SpecificNotification.where("user_id = #{current_user.id}").order('created_at DESC').limit(4) %>
<% @notifications.each do |notification| %>

<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= notification.notification.content %></td><br>

<% end %>